.btn {
    width: max-content;
    font-size: 1.8rem;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: var(--deep-pink);
    border: 1px solid var(--deep-pink);
    cursor: pointer;
    transition: 3s;
}