.container {
    max-width: max-content;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 10rem;
}

.connect_notif {
    position: absolute;
    inset: 25%;
    font-size: 4rem;
    text-align: center;
}